{% if settings.categories_menu != blank and section.settings.menu_type_desktop == 'drawer' %}
  <nav class="header__inline-menu">
    <ul class="list-menu list-menu--inline" role="list">
      {%- for link in settings.categories_menu.links -%}
        <li>
          {% for block in section.blocks %}
              {% if block.settings.parent_link == link.title and block.type == 'megamenu' or block.settings.parent_link == link.title and block.type == 'advance_megamenu' or block.settings.parent_link == link.title and block.type == 'new_megamenu' or block.settings.parent_link == link.title and block.type == 'custom_dropdown_megamenu' %}
              {% assign parent_link = block.settings.parent_link %}
              {% continue %}
            {% endif %}
          {% endfor %}
          {%- if parent_link == link.title -%}
            <header-menu>
              <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
                <summary class="header__menu-item list-menu__item link focus-inset">
                  <a href="{{ link.url }}" aria-label="{{ link.title | escape }}">
                    <span
                      {%- if link.child_active or link.current %}
                        class="header__active-menu-item"
                      {% endif %}
                    >
                      {{- link.title | escape -}}
                    </span>
                    {% render 'icon-caret' %}
                  </a>
                </summary>
                {%- for block in section.blocks -%}
                  {%- case block.type -%}
                    {%- when 'megamenu' -%}
                      {% if  block.settings.parent_link == link.title  %}
                        <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content custom-mega-menu-block color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup" tabindex="-1">
                          <ul class="mega-menu__list {% if block.settings.menu_layout == 'grid' %} page-width{% else %} full-width{% endif %} {% comment %}{% if link.levels == 1 %} mega-menu__list--condensed {% endif %}{% endcomment %}" role="list">
                            {% if block.settings.hide_default_menu != "true" %}
                              {%- for childlink in link.links -%}
                                <li>
                                  <a href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %} aria-label="{{ childlink.title | escape }}">
                                    {{ childlink.title | escape }}
                                  </a>
                                  {%- if childlink.links != blank -%}
                                    <ul class="list-unstyled" role="list">
                                      {%- for grandchildlink in childlink.links -%}
                                        <li>
                                          <a href="{{ grandchildlink.url }}" class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %} aria-label="{{ grandchildlink.title | escape }}">
                                            {{ grandchildlink.title | escape }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  {%- endif -%}
                                </li>
                              {%- endfor -%}
                            {% endif %}
            
            
            
                            {% render 'megamenu-item',
                              mega_type: block.settings.menu_item_type1,
                              mega_image: block.settings.image1,
                              mega_linklist: block.settings.linklist1, 
                              mega_collection: block.settings.collection1,
                              mega_product: block.settings.product1,
                              mega_title: block.settings.title1, 
                              mega_content: block.settings.content1,
                              mega_btntitle: block.settings.btntitle1,
                              mega_btnurl: block.settings.btnurl1
                            %}
            
                            {% render 'megamenu-item',
                              mega_type: block.settings.menu_item_type2,
                              mega_image: block.settings.image2,
                              mega_linklist: block.settings.linklist2,
                              mega_collection: block.settings.collection2,
                              mega_product: block.settings.product2,
                              mega_title: block.settings.title2,
                              mega_content: block.settings.content2,
                              mega_btntitle: block.settings.btntitle2,
                              mega_btnurl: block.settings.btnurl2
                            %}
            
                            {% render 'megamenu-item',
                              mega_type: block.settings.menu_item_type3,
                              mega_image: block.settings.image3,
                              mega_linklist: block.settings.linklist3,
                              mega_collection: block.settings.collection3,
                              mega_product: block.settings.product3,
                              mega_title: block.settings.title3,
                              mega_content: block.settings.content3,
                              mega_btntitle: block.settings.btntitle3,
                              mega_btnurl: block.settings.btnurl3
                            %}
            
                            {% render 'megamenu-item',
                              mega_type: block.settings.menu_item_type4,
                              mega_image: block.settings.image4,
                              mega_linklist: block.settings.linklist4,
                              mega_collection: block.settings.collection4,
                              mega_product: block.settings.product4,
                              mega_title: block.settings.title4,
                              mega_content: block.settings.content4,
                              mega_btntitle: block.settings.btntitle4,
                              mega_btnurl: block.settings.btnurl4
                            %}
            
                            {% render 'megamenu-item',
                              mega_type: block.settings.menu_item_type5,
                              mega_image: block.settings.image5,
                              mega_linklist: block.settings.linklist5,
                              mega_collection: block.settings.collection5,
                              mega_product: block.settings.product5,
                              mega_title: block.settings.title5,
                              mega_content: block.settings.content5,
                              mega_btntitle: block.settings.btntitle5,
                              mega_btnurl: block.settings.btnurl5
                            %}
            
                            {% render 'megamenu-item',
                              mega_type: block.settings.menu_item_type6,
                              mega_image: block.settings.image6,
                              mega_linklist: block.settings.linklist6,
                              mega_collection: block.settings.collection6,
                              mega_product: block.settings.product6,
                              mega_title: block.settings.title6,
                              mega_content: block.settings.content6,
                              mega_btntitle: block.settings.btntitle6,
                              mega_btnurl: block.settings.btnurl6
                            %}
            
                            {% render 'megamenu-item',
                              mega_type: block.settings.menu_item_type7,
                              mega_image: block.settings.image7,
                              mega_linklist: block.settings.linklist7,
                              mega_collection: block.settings.collection7,
                              mega_product: block.settings.product7,
                              mega_title: block.settings.title7,
                              mega_content: block.settings.content7,
                              mega_btntitle: block.settings.btntitle7,
                              mega_btnurl: block.settings.btnurl7
                            %}
            
                            {% render 'megamenu-item',
                              mega_type: block.settings.menu_item_type8,
                              mega_image: block.settings.image8,
                              mega_linklist: block.settings.linklist8,
                              mega_collection: block.settings.collection8,
                              mega_product: block.settings.product8,
                              mega_title: block.settings.title8,
                              mega_content: block.settings.content8,
                              mega_btntitle: block.settings.btntitle8,
                              mega_btnurl: block.settings.btnurl8
                            %}
            
                            {% render 'megamenu-item',
                              mega_type: block.settings.menu_item_type9,
                              mega_image: block.settings.image9,
                              mega_linklist: block.settings.linklist9,
                              mega_collection: block.settings.collection9,
                              mega_product: block.settings.product9,
                              mega_title: block.settings.title9,
                              mega_content: block.settings.content9,
                              mega_btntitle: block.settings.btntitle9,
                              mega_btnurl: block.settings.btnurl9
                            %}
            
                            {% render 'megamenu-item',
                              mega_type: block.settings.menu_item_type10,
                              mega_image: block.settings.image10,
                              mega_linklist: block.settings.linklist10,
                              mega_collection: block.settings.collection10,
                              mega_product: block.settings.product10,
                              mega_title: block.settings.title10,
                              mega_content: block.settings.content10,
                              mega_btntitle: block.settings.btntitle10,
                              mega_btnurl: block.settings.btnurl10
                            %}
                                
                           </ul>
                        </div>
                      {% break %}
                    {% endif %}
                        
                    {%- when 'advance_megamenu' -%}
                      {% if  block.settings.parent_link == link.title  %}
                        <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content advance-mega-menu-block color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup" tabindex="-1">
                          <ul class="advance-mega-menu mega-menu__list {% if block.settings.menu_layout == 'grid' %} page-width{% else %} full-width{% endif %} {% comment %}{% if link.levels == 1 %} mega-menu__list--condensed {% endif %}{% endcomment %}" role="list">
                            {% if block.settings.hide_default_menu != "true" %}
                              {%- for childlink in link.links -%}
                                <li>
                                  <a href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %} aria-label="{{ childlink.title | escape }}">
                                    {{ childlink.title | escape }}
                                  </a>
                                  {%- if childlink.links != blank -%}
                                    <ul class="list-unstyled" role="list">
                                      {%- for grandchildlink in childlink.links -%}
                                        <li>
                                          <a href="{{ grandchildlink.url }}" class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %} aria-label="{{ grandchildlink.title | escape }}">
                                            {{ grandchildlink.title | escape }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  {%- endif -%}
                                </li>
                              {%- endfor -%}
                            {% endif %}
                            {% render 'advance-megamenu-item', mega_collection_title: block.settings.collection_title1, mega_collection: block.settings.collection1, view_all:block.settings.collection_vise_btn_text %} 
                            {% render 'advance-megamenu-item', mega_collection_title: block.settings.collection_title2, mega_collection: block.settings.collection2, view_all:block.settings.collection_vise_btn_text %} 
                            {% render 'advance-megamenu-item', mega_collection_title: block.settings.collection_title3, mega_collection: block.settings.collection3, view_all:block.settings.collection_vise_btn_text %}
                            {% render 'advance-megamenu-item', mega_collection_title: block.settings.collection_title4, mega_collection: block.settings.collection4, view_all:block.settings.collection_vise_btn_text %}
                            {% render 'advance-megamenu-item', mega_collection_title: block.settings.collection_title5, mega_collection: block.settings.collection5, view_all:block.settings.collection_vise_btn_text %}
                            {% render 'advance-megamenu-item', mega_collection_title: block.settings.collection_title6, mega_collection: block.settings.collection6, view_all:block.settings.collection_vise_btn_text %}  
    
                            {% if block.settings.collection_view_all != blank %}
                              <div class="advance-mega-menu-btn-view-all">
                                <a class="button" href="{{ block.settings.collection_view_all_url }}" aria-label="{{ block.settings.collection_view_all }}">
                                  {{ block.settings.collection_view_all }}
                                </a>
                              </div>
                            {% endif %}
                          </ul>
                        </div>
                        {% break %}
                      {% endif %}

                     {%- when 'new_megamenu' -%} 
                      {% if  block.settings.parent_link == link.title  %}
                        <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content new-mega-menu-block color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup" tabindex="-1">
                          <ul class="new-mega-menu mega-menu__list {% if block.settings.menu_layout == 'grid' %} page-width{% else %} full-width{% endif %}" role="list">
                            {% if block.settings.hide_default_menu != "true" %}
                              {%- for childlink in link.links -%}
                                <li>
                                  <a href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %} aria-label="{{ childlink.title | escape }}">
                                    {{ childlink.title | escape }}  
                                  </a>
                                  {%- if childlink.links != blank -%}
                                    <ul class="list-unstyled" role="list">
                                      {%- for grandchildlink in childlink.links -%}
                                        <li>
                                          <a href="{{ grandchildlink.url }}" class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %} aria-label="{{ grandchildlink.title | escape }}">
                                            {{ grandchildlink.title | escape }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  {%- endif -%}
                                </li>
                              {%- endfor -%}
                            {% endif %}
                            {% render 'new-megamenu-item', menu_title_1: block.settings.menu_title_1, menu_image_1: block.settings.menu_image_1, link_list_1: block.settings.link_list_1, menu_image_1_url: block.settings.menu_image_1_url , 
                              menu_title_2: block.settings.menu_title_2, menu_image_2: block.settings.menu_image_2, link_list_2: block.settings.link_list_2, menu_image_2_url: block.settings.menu_image_2_url ,
                              menu_title_3: block.settings.menu_title_3, menu_image_3: block.settings.menu_image_3, link_list_3: block.settings.link_list_3,  menu_image_3_url: block.settings.menu_image_3_url ,
                              collection_title: block.settings.collection_title, product_collection: block.settings.collection,
                              image_1: block.settings.image_1, image_1_url: block.settings.image_1_url, image_2: block.settings.image_2, image_2_url: block.settings.image_2_url, %}
                          
                          </ul>
                        </div>
                        {% break %}
                      {% endif %}

                     {%- when 'custom_dropdown_megamenu' -%} 
                        {% if  block.settings.parent_link == link.title  %}
                          <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content dropdown-mega-menu-block color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup" tabindex="-1">
                            <ul class="dropdown-mega-menu__list" role="list">
                              {% if block.settings.hide_default_menu != "true" %}
                                {%- for childlink in link.links -%}
                                  <li>
                                    <a href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %} aria-label="{{ childlink.title | escape }}">
                                      {{ childlink.title | escape }}
                                    </a>
                                    {%- if childlink.links != blank -%}
                                      <ul class="list-unstyled" role="list">
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a href="{{ grandchildlink.url }}" class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %} aria-label="{{ grandchildlink.title | escape }}">
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    {%- endif -%}
                                  </li>
                                {%- endfor -%}
                              {% endif %}
          
                              {% render 'dropdown-megamenu-item',
                                mega_image: block.settings.image1,
                                mega_title: block.settings.title1, 
                                mega_subtitle: block.settings.sub_title1,
                                mega_itemurl: block.settings.item1_url
                              %}

                               {% render 'dropdown-megamenu-item',
                                mega_image: block.settings.image2,
                                mega_title: block.settings.title2, 
                                mega_subtitle: block.settings.sub_title2,
                                mega_itemurl: block.settings.item2_url
                              %}

                               {% render 'dropdown-megamenu-item',
                                mega_image: block.settings.image3,
                                mega_title: block.settings.title3, 
                                mega_subtitle: block.settings.sub_title3,
                                mega_itemurl: block.settings.item3_url
                              %} 
                              
                              {% render 'dropdown-megamenu-item',
                                mega_image: block.settings.image4,
                                mega_title: block.settings.title4, 
                                mega_subtitle: block.settings.sub_title4,
                                mega_itemurl: block.settings.item4_url
                              %}

                               {% render 'dropdown-megamenu-item',
                                mega_image: block.settings.image5,
                                mega_title: block.settings.title5, 
                                mega_subtitle: block.settings.sub_title5,
                                mega_itemurl: block.settings.item5_url
                              %}

                              {% render 'dropdown-megamenu-item',
                                mega_image: block.settings.image6,
                                mega_title: block.settings.title6, 
                                mega_subtitle: block.settings.sub_title6,
                                mega_itemurl: block.settings.item6_url
                              %}

                               {% render 'dropdown-megamenu-item',
                                mega_image: block.settings.image7,
                                mega_title: block.settings.title7, 
                                mega_subtitle: block.settings.sub_title7,
                                mega_itemurl: block.settings.item7_url
                              %}

                               {% render 'dropdown-megamenu-item',
                                mega_image: block.settings.image8,
                                mega_title: block.settings.title8, 
                                mega_subtitle: block.settings.sub_title8,
                                mega_itemurl: block.settings.item8_url
                              %}

                               {% render 'dropdown-megamenu-item',
                                mega_image: block.settings.image9,
                                mega_title: block.settings.title9, 
                                mega_subtitle: block.settings.sub_title9,
                                mega_itemurl: block.settings.item9_url
                              %} 
                              
                              {% render 'dropdown-megamenu-item',
                                mega_image: block.settings.image10,
                                mega_title: block.settings.title10, 
                                mega_subtitle: block.settings.sub_title10,
                                mega_itemurl: block.settings.item10_url
                              %}
    
                            </ul>
                          </div>
                          {% break %}
                        {% endif %}
                      
                   {% endcase %}
                {% endfor %}
              </details>
            </header-menu>
          {%- else -%}
            {%- if link.links != blank and parent_link != link.title -%}
              <header-menu>
                <details id="Details-HeaderMenu-{{ forloop.index }}">
                  <summary
                    id="HeaderMenu-{{ link.handle }}"
                    class="header__menu-item list-menu__item link focus-inset"
                  >
                    <a href="{{ link.url }}" aria-label="{{ link.title | escape }}">
                      <span
                        {%- if link.child_active %}
                          class="header__active-menu-item"
                        {% endif %}
                      >
                        {{- link.title | escape -}}
                      </span>
                      {% render 'icon-caret' %}
                    </a>
                  </summary>
                  <ul
                    id="HeaderMenu-MenuList-{{ forloop.index }}"
                    class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
                    role="list"
                    tabindex="-1"
                  >
                    {%- for childlink in link.links -%}
                      <li>
                        {%- if childlink.links == blank -%}
                          <a
                            id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                            href="{{ childlink.url }}"
                            class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                            {% if childlink.current %}
                              aria-current="page"
                            {% endif %}
                            aria-label="{{ childlink.title | escape }}"
                          >
                            {{ childlink.title | escape }}
                          </a>
                        {%- else -%}
                          <details id="Details-HeaderSubMenu-{{ link.handle }}-{{ childlink.handle }}">
                            <summary
                              id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                              class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                              aria-label="{{ childlink.title | escape }}"
                            >
                              <span>{{ childlink.title | escape }}</span>
                              {% render 'icon-caret' %}
                            </summary>
                            <ul
                              id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                              class="header__submenu list-menu motion-reduce"
                            >
                              {%- for grandchildlink in childlink.links -%}
                                <li>
                                  <a
                                    id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                    href="{{ grandchildlink.url }}"
                                    class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                    {% if grandchildlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                    aria-label="{{ grandchildlink.title | escape }}"
                                  >
                                    {{ grandchildlink.title | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </details>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </details>
             </header-menu>
            {%- else -%}
              <a
                id="HeaderMenu-{{ link.handle }}"
                href="{{ link.url }}"
                class="{% if forloop.index > more_menu_limit %} hidden {% endif %} header__menu-item list-menu__item link link--text focus-inset"
                {% if link.current %}
                  aria-current="page"
                {% endif %}
                aria-label="{{ link.title | escape }}"
              >
                <span
                  {%- if link.current %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
              </a>
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </nav>
{% else %}
  {% if section.settings.menu != blank and section.settings.menu_type_desktop == 'custom_mega' %}
    <nav class="header__inline-menu">
      <ul class="list-menu list-menu--inline" role="list">
          {%- for link in section.settings.menu.links -%}
          <li>
            {% for block in section.blocks %}
              {% if block.settings.parent_link == link.title and block.type == 'megamenu' or block.settings.parent_link == link.title and block.type == 'advance_megamenu' or block.settings.parent_link == link.title and block.type == 'new_megamenu' or block.settings.parent_link == link.title and block.type == 'custom_dropdown_megamenu' %}
                {% assign parent_link = block.settings.parent_link %}
                {% continue %}
              {% endif %}
            {% endfor %}
            {%- if parent_link == link.title -%}
              <header-menu>
                <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
                  <summary class="header__menu-item list-menu__item link focus-inset">
                    <a href="{{ link.url }}" aria-label="{{ link.title | escape }}">
                      <span
                        {%- if link.child_active or link.current %}
                          class="header__active-menu-item"
                        {% endif %}
                      >
                        {{- link.title | escape -}}
                      </span>
                      {% render 'icon-caret' %}
                    </a>
                  </summary>
                  {%- for block in section.blocks -%}
                    {%- case block.type -%}
                      {%- when 'megamenu' -%}
                      {% if  block.settings.parent_link == link.title  %}
                        <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content custom-mega-menu-block color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup" tabindex="-1">
                          <ul class="mega-menu__list {% if block.settings.menu_layout == 'grid' %} page-width{% else %} full-width{% endif %} {% comment %}{% if link.levels == 1 %} mega-menu__list--condensed {% endif %}{% endcomment %}" role="list">
                            {% if block.settings.hide_default_menu != "true" %}
                              {%- for childlink in link.links -%}
                                <li>
                                  <a href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %} aria-label="{{ childlink.title | escape }}">
                                    {{ childlink.title | escape }}
                                  </a>
                                  {%- if childlink.links != blank -%}
                                    <ul class="list-unstyled" role="list">
                                      {%- for grandchildlink in childlink.links -%}
                                        <li>
                                          <a href="{{ grandchildlink.url }}" class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %} aria-label="{{ grandchildlink.title | escape }}">
                                            {{ grandchildlink.title | escape }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  {%- endif -%}
                                </li>
                              {%- endfor -%}
                            {% endif %}
        
        
        
                            {% render 'megamenu-item',
                              mega_type: block.settings.menu_item_type1,
                              mega_image: block.settings.image1,
                              mega_linklist: block.settings.linklist1, 
                              mega_collection: block.settings.collection1,
                              mega_product: block.settings.product1,
                              mega_title: block.settings.title1, 
                              mega_content: block.settings.content1,
                              mega_btntitle: block.settings.btntitle1,
                              mega_btnurl: block.settings.btnurl1
                            %}
        
                            {% render 'megamenu-item',
                              mega_type: block.settings.menu_item_type2,
                              mega_image: block.settings.image2,
                              mega_linklist: block.settings.linklist2,
                              mega_collection: block.settings.collection2,
                              mega_product: block.settings.product2,
                              mega_title: block.settings.title2,
                              mega_content: block.settings.content2,
                              mega_btntitle: block.settings.btntitle2,
                              mega_btnurl: block.settings.btnurl2
                            %}
        
                            {% render 'megamenu-item',
                              mega_type: block.settings.menu_item_type3,
                              mega_image: block.settings.image3,
                              mega_linklist: block.settings.linklist3,
                              mega_collection: block.settings.collection3,
                              mega_product: block.settings.product3,
                              mega_title: block.settings.title3,
                              mega_content: block.settings.content3,
                              mega_btntitle: block.settings.btntitle3,
                              mega_btnurl: block.settings.btnurl3
                            %}
        
                            {% render 'megamenu-item',
                              mega_type: block.settings.menu_item_type4,
                              mega_image: block.settings.image4,
                              mega_linklist: block.settings.linklist4,
                              mega_collection: block.settings.collection4,
                              mega_product: block.settings.product4,
                              mega_title: block.settings.title4,
                              mega_content: block.settings.content4,
                              mega_btntitle: block.settings.btntitle4,
                              mega_btnurl: block.settings.btnurl4
                            %}
        
                            {% render 'megamenu-item',
                              mega_type: block.settings.menu_item_type5,
                              mega_image: block.settings.image5,
                              mega_linklist: block.settings.linklist5,
                              mega_collection: block.settings.collection5,
                              mega_product: block.settings.product5,
                              mega_title: block.settings.title5,
                              mega_content: block.settings.content5,
                              mega_btntitle: block.settings.btntitle5,
                              mega_btnurl: block.settings.btnurl5
                            %}
        
                            {% render 'megamenu-item',
                              mega_type: block.settings.menu_item_type6,
                              mega_image: block.settings.image6,
                              mega_linklist: block.settings.linklist6,
                              mega_collection: block.settings.collection6,
                              mega_product: block.settings.product6,
                              mega_title: block.settings.title6,
                              mega_content: block.settings.content6,
                              mega_btntitle: block.settings.btntitle6,
                              mega_btnurl: block.settings.btnurl6
                            %}
            
                            {% render 'megamenu-item',
                              mega_type: block.settings.menu_item_type7,
                              mega_image: block.settings.image7,
                              mega_linklist: block.settings.linklist7,
                              mega_collection: block.settings.collection7,
                              mega_product: block.settings.product7,
                              mega_title: block.settings.title7,
                              mega_content: block.settings.content7,
                              mega_btntitle: block.settings.btntitle7,
                              mega_btnurl: block.settings.btnurl7
                            %}
            
                            {% render 'megamenu-item',
                              mega_type: block.settings.menu_item_type8,
                              mega_image: block.settings.image8,
                              mega_linklist: block.settings.linklist8,
                              mega_collection: block.settings.collection8,
                              mega_product: block.settings.product8,
                              mega_title: block.settings.title8,
                              mega_content: block.settings.content8,
                              mega_btntitle: block.settings.btntitle8,
                              mega_btnurl: block.settings.btnurl8
                            %}
            
                            {% render 'megamenu-item',
                              mega_type: block.settings.menu_item_type9,
                              mega_image: block.settings.image9,
                              mega_linklist: block.settings.linklist9,
                              mega_collection: block.settings.collection9,
                              mega_product: block.settings.product9,
                              mega_title: block.settings.title9,
                              mega_content: block.settings.content9,
                              mega_btntitle: block.settings.btntitle9,
                              mega_btnurl: block.settings.btnurl9
                            %}
            
                            {% render 'megamenu-item',
                              mega_type: block.settings.menu_item_type10,
                              mega_image: block.settings.image10,
                              mega_linklist: block.settings.linklist10,
                              mega_collection: block.settings.collection10,
                              mega_product: block.settings.product10,
                              mega_title: block.settings.title10,
                              mega_content: block.settings.content10,
                              mega_btntitle: block.settings.btntitle10,
                              mega_btnurl: block.settings.btnurl10
                            %}
  
                          </ul>
                        </div>
                        {% break %}
                      {% endif %}
                                  
                    {%- when 'advance_megamenu' -%}
                      {% if  block.settings.parent_link == link.title  %}
                        <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content advance-mega-menu-block color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup" tabindex="-1">
                          <ul class="advance-mega-menu mega-menu__list {% if block.settings.menu_layout == 'grid' %} page-width{% else %} full-width{% endif %} {% comment %}{% if link.levels == 1 %} mega-menu__list--condensed {% endif %}{% endcomment %}" role="list">
                            {% if block.settings.hide_default_menu != "true" %}
                              {%- for childlink in link.links -%}
                                <li>
                                  <a href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %} aria-label="{{ childlink.title | escape }}">
                                    {{ childlink.title | escape }}  
                                  </a>
                                  {%- if childlink.links != blank -%}
                                    <ul class="list-unstyled" role="list">
                                      {%- for grandchildlink in childlink.links -%}
                                        <li>
                                          <a href="{{ grandchildlink.url }}" class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %} aria-label="{{ grandchildlink.title | escape }}">
                                            {{ grandchildlink.title | escape }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  {%- endif -%}
                                </li>
                              {%- endfor -%}
                            {% endif %}
                            {% render 'advance-megamenu-item', mega_collection_title: block.settings.collection_title1, mega_collection: block.settings.collection1, view_all:block.settings.collection_vise_btn_text %} 
                            {% render 'advance-megamenu-item', mega_collection_title: block.settings.collection_title2, mega_collection: block.settings.collection2, view_all:block.settings.collection_vise_btn_text %} 
                            {% render 'advance-megamenu-item', mega_collection_title: block.settings.collection_title3, mega_collection: block.settings.collection3, view_all:block.settings.collection_vise_btn_text %}
                            {% render 'advance-megamenu-item', mega_collection_title: block.settings.collection_title4, mega_collection: block.settings.collection4, view_all:block.settings.collection_vise_btn_text %}
                            {% render 'advance-megamenu-item', mega_collection_title: block.settings.collection_title5, mega_collection: block.settings.collection5, view_all:block.settings.collection_vise_btn_text %}
                            {% render 'advance-megamenu-item', mega_collection_title: block.settings.collection_title6, mega_collection: block.settings.collection6, view_all:block.settings.collection_vise_btn_text %}  
    
                            {% if block.settings.collection_view_all != blank %}
                              <div class="advance-mega-menu-btn-view-all">
                                <a class="button" href="{{  block.settings.collection_view_all_url }}" aria-label="{{ block.settings.collection_view_all }}">
                                  {{ block.settings.collection_view_all }}
                                </a>
                              </div>
                            {% endif %}
                          </ul>
                        </div>
                        {% break %}
                      {% endif %}

                     {%- when 'new_megamenu' -%} 
                      {% if  block.settings.parent_link == link.title  %}
                        <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content new-mega-menu-block color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup" tabindex="-1">
                          <ul class="new-mega-menu mega-menu__list {% if block.settings.menu_layout == 'grid' %} page-width{% else %} full-width{% endif %}" role="list">
                            {% if block.settings.hide_default_menu != "true" %}
                              {%- for childlink in link.links -%}
                                <li>
                                  <a href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %} aria-label="{{ childlink.title | escape }}">
                                    {{ childlink.title | escape }}  
                                  </a>
                                  {%- if childlink.links != blank -%}
                                    <ul class="list-unstyled" role="list">
                                      {%- for grandchildlink in childlink.links -%}
                                        <li>
                                          <a href="{{ grandchildlink.url }}" class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %} aria-label="{{ grandchildlink.title | escape }}">
                                            {{ grandchildlink.title | escape }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  {%- endif -%}
                                </li>
                              {%- endfor -%}
                            {% endif %}
                            {% render 'new-megamenu-item', menu_title_1: block.settings.menu_title_1, menu_image_1: block.settings.menu_image_1, link_list_1: block.settings.link_list_1, menu_image_1_url: block.settings.menu_image_1_url , 
                              menu_title_2: block.settings.menu_title_2, menu_image_2: block.settings.menu_image_2, link_list_2: block.settings.link_list_2, menu_image_2_url: block.settings.menu_image_2_url ,
                              menu_title_3: block.settings.menu_title_3, menu_image_3: block.settings.menu_image_3, link_list_3: block.settings.link_list_3,  menu_image_3_url: block.settings.menu_image_3_url ,
                              collection_title: block.settings.collection_title, product_collection: block.settings.collection,
                              image_1: block.settings.image_1, image_1_url: block.settings.image_1_url, image_2: block.settings.image_2, image_2_url: block.settings.image_2_url, %}
                          
                          </ul>
                        </div>
                        {% break %}
                      {% endif %}

                     {%- when 'custom_dropdown_megamenu' -%} 
                        {% if  block.settings.parent_link == link.title  %}
                          <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content dropdown-mega-menu-block color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup" tabindex="-1">
                            <ul class="dropdown-mega-menu__list" role="list">
                              {% if block.settings.hide_default_menu != "true" %}
                                {%- for childlink in link.links -%}
                                  <li>
                                    <a href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %} aria-label="{{ childlink.title | escape }}">
                                      {{ childlink.title | escape }}
                                    </a>
                                    {%- if childlink.links != blank -%}
                                      <ul class="list-unstyled" role="list">
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a href="{{ grandchildlink.url }}" class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %} aria-label="{{ grandchildlink.title | escape }}">
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    {%- endif -%}
                                  </li>
                                {%- endfor -%}
                              {% endif %}
          
                              {% render 'dropdown-megamenu-item',
                                mega_image: block.settings.image1,
                                mega_title: block.settings.title1, 
                                mega_subtitle: block.settings.sub_title1,
                                mega_itemurl: block.settings.item1_url
                              %}

                               {% render 'dropdown-megamenu-item',
                                mega_image: block.settings.image2,
                                mega_title: block.settings.title2, 
                                mega_subtitle: block.settings.sub_title2,
                                mega_itemurl: block.settings.item2_url
                              %}

                               {% render 'dropdown-megamenu-item',
                                mega_image: block.settings.image3,
                                mega_title: block.settings.title3, 
                                mega_subtitle: block.settings.sub_title3,
                                mega_itemurl: block.settings.item3_url
                              %} 
                              
                              {% render 'dropdown-megamenu-item',
                                mega_image: block.settings.image4,
                                mega_title: block.settings.title4, 
                                mega_subtitle: block.settings.sub_title4,
                                mega_itemurl: block.settings.item4_url
                              %}

                               {% render 'dropdown-megamenu-item',
                                mega_image: block.settings.image5,
                                mega_title: block.settings.title5, 
                                mega_subtitle: block.settings.sub_title5,
                                mega_itemurl: block.settings.item5_url
                              %}

                              {% render 'dropdown-megamenu-item',
                                mega_image: block.settings.image6,
                                mega_title: block.settings.title6, 
                                mega_subtitle: block.settings.sub_title6,
                                mega_itemurl: block.settings.item6_url
                              %}

                               {% render 'dropdown-megamenu-item',
                                mega_image: block.settings.image7,
                                mega_title: block.settings.title7, 
                                mega_subtitle: block.settings.sub_title7,
                                mega_itemurl: block.settings.item7_url
                              %}

                               {% render 'dropdown-megamenu-item',
                                mega_image: block.settings.image8,
                                mega_title: block.settings.title8, 
                                mega_subtitle: block.settings.sub_title8,
                                mega_itemurl: block.settings.item8_url
                              %}

                               {% render 'dropdown-megamenu-item',
                                mega_image: block.settings.image9,
                                mega_title: block.settings.title9, 
                                mega_subtitle: block.settings.sub_title9,
                                mega_itemurl: block.settings.item9_url
                              %} 
                              
                              {% render 'dropdown-megamenu-item',
                                mega_image: block.settings.image10,
                                mega_title: block.settings.title10, 
                                mega_subtitle: block.settings.sub_title10,
                                mega_itemurl: block.settings.item10_url
                              %}
    
                            </ul>
                          </div>
                          {% break %}
                        {% endif %}
                      
                    {% endcase %}
                  {% endfor %}
                </details>
              </header-menu>
            {%- else -%}
              {%- if link.links != blank and parent_link != link.title -%}
                <header-menu>
                  <details id="Details-HeaderMenu-{{ forloop.index }}">
                    <summary
                      id="HeaderMenu-{{ link.handle }}"
                      class="header__menu-item list-menu__item link focus-inset"
                    >
                      <a href="{{ link.url }}" aria-label="{{ link.title | escape }}">
                        <span
                          {%- if link.child_active %}
                            class="header__active-menu-item"
                          {% endif %}
                        >
                          {{- link.title | escape -}}
                        </span>
                        {% render 'icon-caret' %}
                      </a>
                    </summary>
                    <ul
                      id="HeaderMenu-MenuList-{{ forloop.index }}"
                      class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
                      role="list"
                      tabindex="-1"
                    >
                      {%- for childlink in link.links -%}
                        <li>
                          {%- if childlink.links == blank -%}
                            <a
                              id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                              href="{{ childlink.url }}"
                              class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                              {% if childlink.current %}
                                aria-current="page"
                              {% endif %}
                              aria-label="{{ childlink.title | escape }}"
                            >
                              {{ childlink.title | escape }}
                            </a>
                          {%- else -%}
                            <details id="Details-HeaderSubMenu-{{ link.handle }}-{{ childlink.handle }}">
                              <summary
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                                class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                                aria-label="{{ childlink.title | escape }}"
                              >
                                <span>{{ childlink.title | escape }}</span>
                                {% render 'icon-caret' %}
                              </summary>
                              <ul
                                id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                class="header__submenu list-menu motion-reduce"
                              >
                                {%- for grandchildlink in childlink.links -%}
                                  <li>
                                    <a
                                      id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                      href="{{ grandchildlink.url }}"
                                      class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                      {% if grandchildlink.current %}
                                        aria-current="page"
                                      {% endif %}
                                      aria-label="{{ grandchildlink.title | escape }}"
                                    >
                                      {{ grandchildlink.title | escape }}
                                    </a>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </details>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </details>
                </header-menu>
              {%- else -%}
                <a
                  id="HeaderMenu-{{ link.handle }}"
                  href="{{ link.url }}"
                  class="{% if forloop.index > more_menu_limit %} hidden {% endif %} header__menu-item list-menu__item link link--text focus-inset"
                  {% if link.current %}
                    aria-current="page"
                  {% endif %}
                  aria-label="{{ link.title | escape }}"
                >
                  <span
                    {%- if link.current %}
                      class="header__active-menu-item"
                    {% endif %}
                  >
                    {{- link.title | escape -}}
                  </span>
                </a>
              {%- endif -%}
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </nav>
  {% endif %}
{% endif %}