{% comment %} product notification {% endcomment %}
{%- assign ntCollection = collections[settings.notify_collection] -%}
{%- if settings.show_notification and ntCollection.products.size > 0 -%}
{%- assign colections = ntCollection.products -%}
{%- assign randomNumber = "now" | date: "%N" | modulo: colections.size | plus: 0 -%}
{%- assign fake_location = settings.notify_location | replace: ' | ', '|' | replace: ' |', '|' | replace: '| ', '|' | split: '|' -%}
<div id="prodNotify" class="customized{% if settings.hide_notification_mb %} small-hide{% endif %}">
  <a class="closeNotify" style="cursor: pointer;">
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" fill="none" viewBox="0 0 18 17">
      <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
    </svg>
  </a>
  <div class="notication-detail">
    <a href="{{ntCollection.products[randomNumber].url}}" class="imgLink"><img class="pImg lazyload" data-src="{{ntCollection.products[randomNumber] | img_url: 'small'}}" alt="{{ntCollection.products[randomNumber].title}}" /></a>
    <div class="details">
      {%- if settings.notify_msg != blank -%}<p class="msg">{{settings.notify_msg}}</p>{%- endif -%}
      <p class="pname"><a href="{{ntCollection.products[randomNumber].url}}">{{ntCollection.products[randomNumber].title}}</a></p>
      <p class="timelocation">{%- if settings.fake_time -%}<span class="time">10</span> {{settings.time_msg}} {%- endif -%}{%- if settings.notify_location != blank -%}{{settings.location_msg}} <span class="location">{{ fake_location[3] }}</span>{%- endif -%}</p>
      <span class="verify-icon">
        <svg class="verify-svg" width="15" height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor"><path d="M466.5 83.71l-192-80c-5.875-2.5-12.16-3.703-18.44-3.703S243.5 1.203 237.6 3.703L45.61 83.71C27.73 91.08 16 108.6 16 127.1C16 385.4 205.4 512 255.9 512C305.2 512 496 387.3 496 127.1C496 108.6 484.3 91.08 466.5 83.71zM463.9 128.3c0 225.3-166.2 351.7-207.8 351.7C213.3 479.1 48 352.2 48 128c0-6.5 3.875-12.25 9.75-14.75l192-80c1.973-.8275 4.109-1.266 6.258-1.266c2.071 0 4.154 .4072 6.117 1.266l192 80C463.3 117.1 463.9 125.8 463.9 128.3zM336 181.3c-4.094 0-8.188 1.562-11.31 4.688L229.3 281.4L187.3 239.4C184.2 236.2 180.1 234.7 176 234.7c-9.139 0-16 7.473-16 16c0 4.094 1.562 8.188 4.688 11.31l53.34 53.33C221.2 318.4 225.3 320 229.3 320s8.188-1.562 11.31-4.688l106.7-106.7C350.4 205.5 352 201.4 352 197.3C352 188.8 345.1 181.3 336 181.3z"></path></svg>
        {{ settings.verify_msg }}    
      </span>
    </div>
   </div>
  <div id="myProgressBar"></div>
</div>

<script type="text/javascript" defer>
	$(document).ready(function(){      	
      /*if ((typeof Shopify) === 'undefined') { Shopify = {}; }
      Shopify.pnProduct = function(handle, callback) {
        $.ajax({ url: '/products/' + handle + '.js', dataType: 'json', success: function(data){ callback(data); }, cache:true, timeout: {{settings.notify_display | plus: 700}} });
      };
      function productNotify(){
      	var productsArray = {{ colections | map:'handle' | json }},
            curproductIndex = Math.floor((Math.random() * productsArray.length - 1) + 1);
        	$('#prodNotify').removeClass("active");
            setTimeout(function(){
              Shopify.pnProduct(productsArray[curproductIndex],function(data){
                var fakeTimeOrder = Math.floor((Math.random() * 60) + 1),
                    {%- if settings.notify_location != blank -%}fklocations = {{ fake_location | json }},rand = Math.floor(Math.random() *{{fake_location.size}}),{% endif %}
                    pimg = data.featured_image,
                    pimg_path = pimg.replace(/(\.[^\.]*$|$)/, '_small' + '$&');
                $('#prodNotify .pname').html(data.title).attr('href','/collections/{{ntCollection.handle}}'+data.url);
                $('#prodNotify .imgLink').attr('href','/collections/{{ntCollection.handle}}'+data.url);
                $('#prodNotify img').attr( { src:pimg_path, alt:data.title } );
                $('#prodNotify .time').html(fakeTimeOrder);
                {%- if settings.notify_location != blank -%}$('#prodNotify .location').html(fklocations[rand]);{%- endif -%}
                $('#prodNotify').addClass("active");
              	});
              }, {{settings.notify_display}});
      }
      setInterval(productNotify, {{ settings.notify_display | plus: settings.notify_delay | plus: 200}});
      productNotify();
      $('.closeNotify').click(function(){ $('#prodNotify').remove(); });*/
          
          if ((typeof Shopify) === 'undefined') { Shopify = {}; }
			Shopify.pnProduct = function(handle, callback) {
				$.ajax({ url: '/products/' + handle + '.js', dataType: 'json', success: function(data){ callback(data); }, cache:true, timeout: {{settings.notify_display | plus: 700}} });
			};
    		function productNotify(){
                var productsArray = {{ colections | map:'handle' | json }},
                	curproductIndex = Math.floor((Math.random() * productsArray.length - 1) + 1);
      			$('#prodNotify').removeClass("active");
				setTimeout(function(){
            		Shopify.pnProduct(productsArray[curproductIndex],function(data){
						var fakeTimeOrder = Math.floor((Math.random() * 60) + 1),
                            {%- if settings.notify_location != blank -%}fklocations = {{ fake_location | json }},rand = Math.floor(Math.random() *{{fake_location.size}}),{% endif %}
                            pimg = data.featured_image,
             	 			pimg_path = pimg.replace(/(\.[^\.]*$|$)/, '_small' + '$&');
						$('#prodNotify .pname a').html(data.title).attr('href','/collections/{{ntCollection.handle}}'+data.url);
                        $('#prodNotify .imgLink').attr('href','/collections/{{ntCollection.handle}}'+data.url);
                        $('#prodNotify img').attr( { src:pimg_path, alt:data.title } );
                        $('#prodNotify .time').html(fakeTimeOrder);
                        {%- if settings.notify_location != blank -%}$('#prodNotify .location').html(fklocations[rand]);{%- endif -%}
                        $('#prodNotify').addClass("active");
					});
				}, {{settings.notify_display}});
			}
			setInterval(productNotify, {{ settings.notify_display | plus: settings.notify_delay | plus: 200}});
            productNotify();
            $('.closeNotify').click(function(){ $('#prodNotify').remove(); });

          $("#prodNotify").mouseover(function() {
            $("#prodNotify").stop(true);
            $('#prodNotify').addClass("active");
          });
      
          $("#prodNotify").mouseout(function() {
            $("#prodNotify").stop(false, true);
            //$('#prodNotify').removeClass("active");
          });
	});
</script>
<style type="text/css">
{%- if settings.show_notification -%}
#prodNotify { color:{{settings.pnp_boxbg_txt}}; width:auto; max-width:350px; text-align:left; padding: 10px; border-radius: {{ settings.pnp_border_radius }}px; background: #f8f8fa;  visibility:visible; opacity:1; position:fixed; left:20px; bottom:-150px; z-index:999; background-color:{{settings.pnp_boxbg}}; box-shadow: 0 0 4px 0 rgba({{settings.pnp_boxbg_txt}},0.4); box-shadow: 0 0 4px 0 rgba(0,0,0,0.4); -ms-transition: all 1s ease; -webkit-transition: all 1s ease; transition: all 1s ease;}
#prodNotify img { float:left; max-width:80px; max-height:80px; width:auto; border-radius: {{ settings.pnp_border_radius }}px; }
#prodNotify .details { margin:0; padding:5px 75px 5px 5px; }
#prodNotify a { color:{{settings.pnp_boxbg_txt}}; }
#prodNotify .closeNotify { width:20px; height:20px; text-align:center; position:absolute; top: 0; right: 0; background:#fff; color: #000; line-height: 18px; border-radius: 0 5px 0 0; box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4); }
#prodNotify .closeNotify svg { width: 8px; height: 8px; stroke: #000; stroke-width: 3px; line-height: 8px;  }
#prodNotify .closeNotify .ad { font-size:10px;}
#prodNotify p { font-size: 13px; line-height:1.2; margin:0 0 5px; color:lighten({{settings.pnp_boxbg_txt}},40%);}
#prodNotify .msg { color:{{settings.pnp_boxbg_txt}};}
#prodNotify .timelocation { color:{{settings.pnp_boxbg_txt}}; font-size: 12px; }
#prodNotify .msg { margin-right:15px; }
#prodNotify .pname { font-size: 13px; margin-bottom:7px; font-weight: 600; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}
#prodNotify .pname a { text-decoration: none; }
#prodNotify.active { 
   visibility:visible; 
   opacity:1; 
   bottom:20px;
}
#prodNotify #myProgressBar {
    width: 100%;
    clear: both;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    height: 3px;
    background: green;
    color: green;
    display: block;
    animation: fullexpand 30s ease-out infinite;
}
@keyframes fullexpand {
   /* In these keyframes, the progress-bar is stationary */
   0%, 20%, 40%, 60%, 80%, 100% { width: 0%; opacity: 0; }

   /* In these keyframes, the progress-bar starts to come alive */
   4%, 24%, 44%, 64%, 84% { width: 0%; opacity: 1; }

   /* In these keyframes, the progress-bar moves forward for 3 seconds */
   16%, 36%, 56%, 76%, 96% { width: 100%; opacity: 1; }

   /* In these keyframes, the progress-bar has finished his path */
   17%, 37%, 57%, 77%, 97% { width: 100%; opacity: 1; }

   /* In these keyframes, the progress-bar will disappear and then resume the cycle */
   18%, 38%, 58%, 78%, 98% { width: 100%; opacity: 0; }
}
#prodNotify:hover,
#prodNotify:hover #myProgressBar {
   animation-play-state: paused;
}
#prodNotify .verify-icon {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 13px;
    position: absolute;
    right: 10px;
    bottom: 20px;
}
#prodNotify .verify-icon .verify-svg {
    color: green;
}
#prodNotify .notication-detail {
    display: flex;
    column-gap: 5px;
}
{%- endif -%}
</style>
{% endif %}