{% comment %}
  Shopify Wishlist
  Usage:
    - Create a new page in the Shopify admin
      - Admin > Online store > Pages > Add page
    - Set the new page's template to: 'page.wishlist'
    - Do NOT remove the `grid-wishlist` attribute
  
  Notes:
  - The grid will be populated with product cards using Javascript
  - Any content inside of the `[grid-wishlist]` element will be completely replaced by the product cards
  
  Tip:
  - Place a loading element inside the `[grid-wishlist]` element and it will automatically be removed once the product cards have loaded
  - Add any liquid code before/after the grid element
{% endcomment %}

{% render 'async-style', file: 'template-collection.css' %}
{% render 'async-style', file: 'component-card.css' %}
{% render 'async-style', file: 'component-price.css' %}

{%- if settings.enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<div class="page-width">
<ul class="wishlist__grid grid product-grid grid--{{ settings.columns_mobile }}-col-tablet-down
              grid--{{ settings.columns_desktop }}-col-desktop" grid-wishlist>
  {% comment %} Sample loading element {% endcomment %}
  <p class="wishlist__loader full-width text-center">Loading...</p>
</ul>
<div class="wishlist-text">
      <h3>{{ 'general.wishlist_text' | t }}</h3>
      <a href="{{ routes.all_products_collection_url }}" class="underlined-link">{{ 'general.continue_shopping' | t }}</a>
</div>
</div>

<style type="text/css">
  .wishlist .wishlist__grid {
      margin-top: 80px;
  }
  .wishlist .wishlist__grid .hover_button {
      background: none;
      position: absolute;
      top: 15px;
      right: 15px;
      bottom: auto;
      transform: none;
      visibility: visible;
      opacity: 1;
      display: block;
      width: auto;
      padding: 0;
  }
  .wishlist .wishlist__grid .card-wrapper.product-card-wrapper .quick-add__submit {
      transform: none;
      visibility: visible;
      font-size: 15px;
      width: auto;
      height: auto;
      display: block;
      width: 100%;
      min-width: auto;
      min-height: calc(4.6rem + var(--buttons-border-width)* 2);
      -moz-transition: var(--duration-long) ease 0s;
      -ms-transition: var(--duration-long) ease 0s;
      -o-transition: var(--duration-long) ease 0s;
  }
  .wishlist .wishlist__grid .card-wrapper .quick-add.media-add-to-cart {
      width: 100%;
      height: auto;
      width: 100%;
      position: absolute;
      bottom: 0;
      margin: 0;
      padding: 15px;
  }
  .wishlist .wishlist__grid .product-card-wrapper .hover_button .button.button-wishlist {
      transform: none;
      opacity: 1;
      visibility: visible;
  }

  @media screen and (max-width:749px){
    .wishlist .wishlist__grid .card-wrapper .quick-add.media-add-to-cart {
        padding: 7px;
    }
    .wishlist .wishlist__grid .card-wrapper.product-card-wrapper .quick-add__submit {
        min-height: calc(4rem + var(--buttons-border-width)* 2);
        font-size: 14px;
    }
    .wishlist .wishlist__grid .hover_button {
        top: 10px;
        right: 10px;
    }
    .wishlist .wishlist__grid {
        margin-top: 40px;
    }
  }
</style>

{% schema %}
  {
    "templates": ["page"]
  }
{% endschema %}